*{
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI';
  color: white;
}

h1{
  font-size: 60px;
}

#main-container{
  padding: 50px;
  margin: 5px;
  background-color:  #8cd62cd0;
}

#botonera{
  padding-top: 150px;
  padding-left: 150px;
}

#botonera ul li {
  display: inline-block;
  padding-inline: 5%;
}

.boton {
  
  width: 200px;
  padding-top: 75px;
  padding-bottom: 75px;
  border-radius: .50rem;

  border-color:  #8cd62cd0;
  background-color: #8cd62cd0;
  transition: background-color .15s ease-in-out;
  
  font-size: 18px;
  font-weight: 500;
}

.boton:hover, .boton:focus {
  background-color: #9ff134d0;
}

.btn-3d:active {
  background-color: #82bd35d0;
}

