*{
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI';
  color: white;
}

h1{
  font-size: 60px;
}

.Titulo{
  padding: 3.5%;
  margin: 0.3%;
  background-color:  #8cd62cd0;
}

#botonera {
  padding-top: 10%;
  padding-left: 5%;
}

#botonera ul li {  
  padding-top: 5%;
}

/* BOTON */
.boton {
  justify-content: center;
  align-items: center;
  
  width: 200px;
  height: 44px;

  border-radius: .50rem;
  border-color:  #8cd62cd0;

  background-color: #8cd62cd0;
  transition: background-color .15s ease-in-out;
  
  font-size: 18px;
  font-weight: 500;

}

.boton:hover, .boton:focus {
  background-color: #9ff134d0;
}

.boton:active {
  background-color: #82bd35d0;
}

